[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
vk-api = "*"
pipenv = "*"
"manage.py" = "*"
aiohttp = "*"
aiopg = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
